dist/
www/
loader/

*~
*.sw[mnpcod]
*.log
*.lock
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace

.stencil/
.idea/
.vscode/
.sass-cache/
.versions/
node_modules/
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
.env
react-wrapper/src/components.ts/
vue-wrapper/src/components.ts
angular-wrapper/src/directives
react-wrapper/pnpm-lock.yaml
angular-wrapper/pnpm-lock.yaml
vue-wrapper/pnpm-lock.yaml
vue-wrapper/tsconfig.tsbuildinfo
www
